<footer id="footerContainer" class="footer-copyright text-center py-3"> 
  <p class="my-0 font-weight-bolder">Habana Vieja. 412. La Habana, Cuba.&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;+545555999966&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;habanavieja@habanavieja.com</p>
  <div id="shareButtons">
      <p class="d-inline">Siguenos en</p>
      <a href="#" target="_blank">
          <img class="ml-1" src="assets/images/icons/facebook.png" alt="">
      </a>
      <a href="#" target="_blank">
        <img class="ml-1" src="assets/images/icons/instagram.png" alt="">
      </a>
  </div>
</footer>