
  <div id="homeContainer" class="container">
    <div class="row row align-items-center">
      <div class="col">
        <div id="homeDesc">
          <h3>Our Home</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus nam commodi blanditiis, ullam totam saepe, molestiae deserunt, harum aspernatur molestias unde dolor sequi? Cupiditate officia deleniti itaque modi illum consequatur.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aperiam aliquid veritatis dignissimos perspiciatis beatae itaque perferendis fugiat, autem voluptatibus incidunt aliquam est sequi sunt vel quibusdam similique quisquam quaerat?
          </p>
        </div>
      </div>
      <div class="col">
        <div id="homeImg">
          <img src="assets/images/homeImg.jpg" alt="">
          <div id="airbnbButton" class="mt-3 text-right">
              <app-airbnb-button></app-airbnb-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  