#navbar{
    //background-color: bisque;
    height: 53px;
    position: absolute;
    width: 100%;
    top: 0;
}

#navbarBorder{
    border-bottom: solid var(--light-grey) 2px;
    width: 41em;
    position: absolute;
    top: 69px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

#navbar a{
    border-bottom: 1.5px solid transparent;
    padding-bottom: 2px !important;
    letter-spacing: 1px;
    -webkit-transition: color 0.5s, font-weight 0.5s, border-bottom 0.5s; /* Safari */
    transition: opacity 0.5s, color 0.5s, font-weight 0.5s, border-color 0.5s;
    margin: 0 2.5em;
}


.navLinkActive{
    color: #7D0042 !important;
    font-weight: 1000 !important;
    border-color: var(--light-grey) !important;
}

.hvr-underline-from-center:before {
bottom: 0;
background: var(--light-grey) !important;
height: 2px;
}

#translateLang{
    position: absolute;
    right: 44px;
    top: 11px;
}

#translateButton{
    background-color: var(--wine);
    text-align: center;
    margin-bottom: 5px;
}

#translateButton button{
    letter-spacing: 2px;
    color: var(--light-grey);
    margin: 0;
}

#translateLabel{
    background-color: var(--light-grey);
    text-align: center;
    padding: 1px 3px;
}

#translateLabel p{
    font-size: 11px;
    margin: 2px 0px;
}


@media only screen and (max-width: 992px) {
    #navbarBorder{
        display: none;
    }
}
