// #navbar{
//     border-bottom: var(--light-grey) solid 1.5px;
// }

#navbarBorder{
    border-bottom: solid var(--light-grey) 2px;
    width: 41em;
    margin: 10px auto 0 auto;
}

#navbar a{
    border-bottom: 1.5px solid transparent;
    padding-bottom: 2px !important;
    letter-spacing: 1px;
    -webkit-transition: color 0.5s, font-weight 0.5s, border-bottom 0.5s; /* Safari */
    transition: opacity 0.5s, color 0.5s, font-weight 0.5s, border-color 0.5s;
    margin: 0 2.5em;
}


.navLinkActive{
    color: #7D0042 !important;
    font-weight: 1000 !important;
    border-color: var(--light-grey) !important;
}

  .hvr-underline-from-center:before {
    bottom: 0;
    background: var(--light-grey) !important;
    height: 2px;
  }

@media only screen and (max-width: 992px) {
    #navbarBorder{
        display: none;
    }
}
