h1{
    text-align: left;
    font-size: 75px;
    font-weight: bolder;
}

// body{
//     color: #FFF !important;
// }

#landingPage {
    margin-right: 40vw;
    margin-left: 6vw;
}


#landingBorder{
    border-bottom: solid #FFF 2px;
    width: 14em;
    margin-top: 10px;
}